<div class="flex">
    <div class="sidenav">
        <app-sidenav [cfg]="projektuNavCfg" class="flex bg-light"></app-sidenav>
        <app-sidenav [cfg]="darbuNavCfg" class="flex bg-light"></app-sidenav>
        <app-sidenav [cfg]="darbiniekuNavCfg" class="flex bg-light"></app-sidenav>
    </div>
    <div class="flex">
        <app-tabula [masivs]="projekti" [cfg]="projektuCfg" [hidden]="skatsAizverts" (izveletaisEvent)="getProjektaDarbi($event)"></app-tabula>
        <app-tabula [masivs]="projektaDarbi" [cfg]="darbuCfg" [hidden]="skatsAizverts" (izveletaisEvent)="getDarbuDarbinieki($event)"></app-tabula>
        <app-tabula [masivs]="darbuDarbinieki" [cfg]="darbiniekuCfg" [hidden]="skatsAizverts"></app-tabula>
    </div>
</div>