* {
  margin: 0;
  padding: 0;
}

html {
  overflow: auto !important;
}

body{
  padding-right: 0 !important;
}

p {
  margin: 0;
}

h1 {
  font-size: 20px;
}

tr:hover {
  cursor: pointer;
}

.component {
  display: flex;
}


@media (max-width: 767.98px) {
  .container {
    width: 100%;
    max-width: 100% !important;
  }
  .component {
    flex-wrap: wrap;
  }
}
