<!-- <h1>Labošana</h1>
<div style="display: flex; flex-direction: column;">
    <form *ngIf="obj">
        <div class="row" style="margin-bottom: 4px;">
            <div *ngFor="let lauks of laukuNosaukumi" class="col-6">
                <input type="text" class="form-control" [(ngModel)]="obj[lauks]" [name]="obj[lauks]" [placeholder]="cfg.tabulaGalvasunVertibas[lauks]">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button style="width: 100%;" type="submit" class="btn btn-primary mb-2">Saglabāt</button>
            </div>
        </div>
    </form>
</div> -->